:root {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}

body {
	background-color: rgb(26,26,26);
	color: rgb(229,229,229);

	margin-left: 2em;
	margin-right: 2em;
}

a, a:visited, a:hover, a:active {
	color: rgb(229,229,229);
}

main img {
	max-height: 600px;
	max-width: 800px;
	padding: 1em;

	display: block;
	margin-left: auto;
	margin-right: auto;
}

ul {
	list-style: none;
	padding: 0;
	text-align: center;
}

nav li img {
	width: 450px;
	height: 450px;
	padding: 3px;
}

li {
	border: 3px solid transparent;
	display: inline-block;
}

li:hover {
	border-color: rgb(229,229,229);
}

p.location {
	font-style: italic;
}

main p {
	width: 50%;
}

.copyright {
	margin-top: 2em;
	margin-bottom: 2em;
}

@media only screen and (max-width: 800px) {
	main img {
		max-width: 95%;
	}
}

@media only screen and (max-width: 476px) {
	nav li img {
		width: 95%;
		height: unset;
	}
}


.lightbox {
  /* Default to hidden */
  display: none;

  /* Overlay entire screen */
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* A bit of padding around image */
  padding: 1em;

  /* Translucent background */
  background: rgba(0, 0, 0, 0.8);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
  display: block;
}

.lightbox span {
  /* Full width and height */
  display: block;
  width: 100%;
  height: 100%;

  /* Size and position background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
