<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>photos.eskola.uk</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/brands.min.css" integrity="sha256-cdja5yXsTdglBOJNQM9uVniw4C0oiIpo9rhIiofUJN0=" crossorigin="anonymous" />
  <link rel="stylesheet" href="/style.css">

  {% if page.permalink %}
  <link rel="canonical" href="{{ page.permalink }}" />
  {% else %}
  <link rel="canonical" href="{{ config.base_url }}" />
  {% endif %}
  <link rel="alternate" href="/atom.xml" />

  {% block header %} {% endblock %}
</head>

<body>
  <h1 class="title">
    <a href="/">
      ben’s photos
    </a>
  </h1>

  {% block content %} {% endblock %}
</body>

</html>
