<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>photos.eskola.uk</title>
  <link rel="preconnect" href="https://rsms.me/" />
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  <link rel="stylesheet" href="/style.css" />


  {% if page.permalink %}
  <link rel="canonical" href="{{ page.permalink }}" />
  {% else %}
  <link rel="canonical" href="{{ config.base_url }}" />
  {% endif %}
  <link rel="alternate" type="application/atom+xml" title="Atom feed" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">

  {% block header %} {% endblock %}
</head>

<body>
  <h1 class="title">
    <a href="/">
      ben’s photos
    </a>
  </h1>

  {% block content %} {% endblock %}
</body>

</html>
