{% extends "base.html" %}

{% block header %}
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ page.permalink }}" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:image" content="{{ page.extra.images[0] }}" />
<meta property="og:description" content="{{ page.content | safe }}{% if page.extra.location %} @ {{ page.extra.location }}{% endif %}" />
<meta property="og:image:alt" content="{{ page.title }}" />
<meta property="article:published_time" content="{{ page.date | date(format="%Y-%m-%dT%H:%M:%S%Z") }}" />

<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:creator" content="kirjatoukka" />
{% endblock %}

{% block content %}
<h2 class="title">
  <a href="{{ page.permalink }}">
    {{ page.title }}
  </a>
</h2>
<p class="subtitle"><strong>{{ page.date | date(format="%d %b %Y") }}</strong></p>
<main>
  {% if page.extra.location %}
  <p class="location">@ {{ page.extra.location }}</p>
  {% endif %}

  {{ page.content | safe }}

  <ul>
    {% for image in page.extra.images %}
    {% set small_image = resize_image(path=image, width=800, height=600, op="fit") %}
      <li>
        <a href="#image-{{ loop.index }}-lightbox" id="image-{{ loop.index }}-anchor">
          <img src="{{ small_image.url }}" loading="lazy" />
        </a>
      </li>
    {% endfor %}
  </ul>

  {% for image in page.extra.images %}
    <a href="#{% if loop.index > 1 %}image-{{ loop.index }}-anchor{% endif %}" class="lightbox" id="image-{{ loop.index }}-lightbox">
      <span style="background-image: url('{{ image }}')"></span>
    </a>
  {% endfor %}

  {% if page.extra.instagram %}
    <a class="fab fa-instagram" href="{{ page.extra.instagram }}"></a>
  {% endif %}
</main>
<p><a href="/">back</a></p>

<footer class="copyright">
  © {{ page.date | date(format="%Y") }}
  <a href="mailto:ben@eskola.uk">Benjamin Eskola</a> •
  <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC</a>
</footer>
{% endblock content %}
