{% extends "base.html" %}

{% block content %}
<h1 class="title">
  <a href="/">
    {{ section.title }}
  </a>
</h1>


<nav>
  <ul>
    {% for page in section.pages %}
      <li>
        <a href="{{ page.permalink | safe }}">
          <img src="{{ page.extra.images[0] }}" class="index" loading="lazy" />
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>

<footer class="copyright">
  © 2011–{{section.pages[0].date | date(format="%Y") }}
  <a href="mailto:ben@eskola.uk">Benjamin Eskola</a> •
  <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC</a>
</footer>
{% endblock content %}
