{% extends "base.html" %}

{% block content %}
<nav>
  <ul>
    {% for page in section.pages %}
    {% set thumbnail = resize_image(path=page.extra.images[0] | trim_start_matches(pat="/"), width=450, height=450) %}
      <li>
        <a href="{{ page.permalink | safe }}" title="{{ page.title }}">
          <img src="{{ thumbnail.url }}" class="index" loading="lazy" width="{{ thumbnail.width }}" height="{{ thumbnail.height }}" alt="{% if page.extra.alts %}{{ page.extra.alts.0 }}{% else %}{{ page.title }}{% endif %}" />
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>

<footer class="copyright">
  © 2011–{{section.pages[0].date | date(format="%Y") }}
  <a href="mailto:ben@eskola.uk">Benjamin Eskola</a> •
  <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC</a>
</footer>
{% endblock content %}
