{% extends "base.html" %}

{% block header %}
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ page.permalink }}" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:image" content="{{ page.extra.images[0] }}" />
<meta property="og:description" content="{{ page.content | safe }}{% if page.extra.location %} @ {{ page.extra.location }}{% endif %}" />
<meta property="og:image:alt" content="{{ page.title }}" />
<meta property="article:published_time" content="{{ page.date | date(format="%Y-%m-%dT%H:%M:%S%Z") }}" />

<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:creator" content="kirjatoukka" />
{% endblock %}

{% block content %}
<h2 class="title">
  <a href="{{ page.permalink }}">
    {{ page.title }}
  </a>
</h2>
<p class="subtitle"><strong>{{ page.date | date(format="%d %b %Y") }}</strong></p>
<r-grid columns={% if page.extra.alts or page.extra.captions %}2{% else %}1{% endif %} columns-s=1>
  {% if page.extra.location %}
  <r-cell span=row class="location">@ {{ page.extra.location }}</r-cell>
  {% endif %}

  {{ page.content | safe }}

  {% for image in page.extra.images %}
  {% set small_image = resize_image(path=image | trim_start_matches(pat="/"), width=800, height=600, op="fit") %}
  <r-cell>
      <a href="#image-{{ loop.index }}-lightbox" id="image-{{ loop.index }}-anchor">
        <img src="{{ small_image.url }}" {% if loop.index > 1 %}loading="lazy"{% endif %} width="{{ small_image.width }}" height="{{ small_image.height}}" {% if page.extra.alts %}alt="{{ page.extra.alts[loop.index0] }}"{% endif %}/>
      </a>
    </r-cell>

    {% if page.extra.captions and page.extra.captions[loop.index0] %}
      <r-cell>
        {{ page.extra.captions[loop.index0] }}
      </r-cell>
    {% elif page.extra.alts and page.extra.alts[loop.index0] %}
      <r-cell>
        {{ page.extra.alts[loop.index0] }}
      </r-cell>
    {% endif %}
  {% endfor %}

  {% for image in page.extra.images %}
    <a href="#{% if loop.index > 1 %}image-{{ loop.index }}-anchor{% endif %}" class="lightbox" id="image-{{ loop.index }}-lightbox">
      <span style="background-image: url('/{{ image | trim_start_matches(pat="/") }}')"></span>
    </a>
  {% endfor %}

  {% if page.extra.instagram %}
    <r-cell span=row><a class="fab fa-instagram" href="{{ page.extra.instagram }}" title="instagram"><svg class="icon icon-instagram"><use xlink:href="/symbol-defs.svg#icon-instagram"></use></svg></a></r-cell>
  {% endif %}

  <p>
  {% if page.later %}<a href="{{ page.later.permalink }}">newer</a>{% endif %}
  <a href="/">home</a>
  {% if page.earlier %}<a href="{{ page.earlier.permalink }}">older</a>{% endif %}
  </p>
</r-grid>

<footer class="copyright">
  © {{ page.date | date(format="%Y") }}
  <a href="mailto:ben@eskola.uk">Benjamin Eskola</a> •
  <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC</a>
</footer>
{% endblock content %}
